@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-shadow {
  text-shadow: 2px 2px #000000;
}

.bg-dark {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

section#folio {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

.card {
  min-height: 303px;
}

.card-content {
  background-color: rgba(20, 76, 82, 0.6);
  top: 70%;
  position: relative;
}
.card-content h3 {
  text-align: center;
  font-size: 2rem;
}
.card-content .row {
  visibility: hidden;
}

.card-content:hover {
  background-color: rgba(20, 76, 82, 0.9);
  top: 0%;
  position: relative;
}
.card-content:hover h3 {
  text-align: left;
  font-size: 1.5rem;
}
.card-content:hover .row {
  visibility: visible;
}

.bg-dark {
  --bs-bg-opacity: .1;
}

.bg-img {
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

span.badge.rounded-pill.bg-primary {
  background-color: #382bf0 !important;
  color: white;
}

.logoIcon.drop-shadow {
  filter: drop-shadow(0 0 0.25rem #00ab62);
}

.drop-shadow {
  filter: drop-shadow(1rem 0 2.5rem #0e1e1d);
}

.greyed-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.hidden {
  display: none !important;
}

span.badge, .btn-warning {
  background-color: #F9B605 !important;
  color: #251e00;
}

span.badge.bg-secondary {
  background-color: #251e00 !important;
}
