@import url('https://fonts.googleapis.com/css?family=Roboto');
.bg-dark{
  background-color: rgba(0, 0, 0, .3) !important;
}

section#folio{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

// section#folio h1{
//   font-size: 40pt;
//   font-weight: 500;
//   color: #363638;
// }
.card{
  min-height: 303px;
}
.card-content{
 background-color: rgba(20, 76, 82, .6);
 top:70%;
 position: relative;
 h3{
   text-align: center;
   font-size: 2rem;
 }

 .row{
   visibility: hidden;
 }
}
.card-content:hover{
 background-color: rgba(20, 76, 82, .9);
 top:0%;
 position: relative;
 h3{
   text-align: left;
   font-size: 1.5rem;
 }
 .row{
   visibility: visible;
 }
}

.bg-dark{
--bs-bg-opacity: .1;
}

.bg-img{
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
