span.badge.rounded-pill.bg-primary{
  background-color: #382bf0 !important;
  color: white;
}

.logoIcon.drop-shadow{filter: drop-shadow(0 0 0.25rem #00ab62);}
.drop-shadow{filter: drop-shadow(1rem 0 2.5rem #0e1e1d);}

.greyed-img {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.hidden{
  display: none !important;
}


span.badge, .btn-warning {
    background-color: #F9B605 !important;
    color: #251e00;

}
span.badge.bg-secondary{
  background-color: #251e00 !important;
}
